# Add any directories, files, or patterns you don't want to be tracked by version control
*.elf
*.bin
*.hex
*.lc
*.ll
*.o
*.list

*.pem

#IDEs
.idea/
.vscode/

#stupid directories they give us
__MACOSX/
_DS_STORE/
