<html>
    <head>
        <title>Robot Info</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-auto mr-auto"><h1>Video Streaming Demonstration</h1></div>
                <div class="col-auto pr-0"><b>Status</b></div>
                <div class="col-auto">
                    <span id="status"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <img src="{{ url_for('monitor.video_feed') }}">
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script language="javascript" type="text/javascript">
            var timeout = setInterval(reloadStatus, 1000);
            function reloadStatus () {
                $('#status').load("{{ url_for('monitor.send_status') }}");
            }
        </script>
    </body>
</html>

