[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
gunicorn = "*"
fasteners = "*"
Flask-Ask = {git = "https://github.com/johnwheeler/flask-ask.git", ref = "master"}
python-dateutil = "*"

[dev-packages]
